
html,body {
  width:100%;
  height:100vh
}

.ace_editor {
  width:98%;
  height:60vh;
  text-align: left;
  z-index:10;
}

.result {
  float:left;
  text-align: left;
  width:98%;
  height:14vh;
  margin-left: 1%;
  box-shadow:0px 0px 1px 0px black;
  overflow:auto;
}

.status {
  margin-left:1%;
  float:left;
}

.custom_input {
  margin-right:20px;
}

.download_code {
  margin-right:20px;
}

.run {
  margin-right:20px !important;
  width:40px;
  height:40px;
  margin-top:5px;
  margin-right:10px;
  background:url('/images/run.png');
  background-size:40px 40px;
}

.themeChange {
  width:40px;
  height:40px;
  margin-top:5px;
  margin-right:10px;
  background:url('/images/day.png');
  background-size:40px 40px;
}

.custom_input {
  width:40px;
  height:40px;
  margin-top:5px;
  margin-right:10px;
  background:url('/images/input.png');
  background-size:40px 40px;
}

.download_code {
  width:40px;
  height:40px;
  margin-top:5px;
  margin-right:10px;
  background:url('/images/download.png');
  background-size:40px 40px;
}

.optionTab {
  margin-top:11px;
  font-size:18px;
  margin-right:20px;
  font-family:Raleway;
  font-weight: bold;
}

.optionTab:hover {
  cursor:pointer;
}

.navbar-brand {
  margin-left:10px !important;
  font-size:20px;
}

.languageSelected {
  margin-right:20px;
  height:50px;
  font-size:20px;
  line-height: 50px;
}

.language_select_menu {
  display: none;
  width:60%;
  position:absolute;
  left:20%;
  top:12vh;
  background:black;
}

#selected {
  color:red;
}

li {
  display: inline-block;
  color:white;
  padding:10px;
  font-size:18px;
}

ul {
  list-style: none;
  margin:0px;
  padding:0px;
}

.language {
  transition:color 1.2s;
}

.loading {
  position: absolute;
  display: none;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:white;
  opacity:0.6;
  z-index:10;
}

.input {
  position:absolute;
  display: none;
  width:20%;
  height:14vh;
  overflow:auto;
  z-index:10;
}

.language:hover {
  cursor:pointer;
  color:yellow;
}

.code_url {
  display:none;
  float:right;
  margin-right:2%;
}

.code_url:hover {
  cursor:pointer;
}

.hiddenArea {
  opacity:0;
}

.themeChange:hover,.run:hover,.languageSelected:hover {
  cursor:pointer;
}

@media only screen and (max-width:780px) {
  .language_select_menu {
    left:1%;
    width:98%;
  }
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url('/fonts/oswald.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}


@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('/fonts/raleway.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
