
html,body {
  width:100%;
  height:100vh
}

.loginHeader {
  width:100%;
  padding:10px;
  text-align: center;
  font-size:26px;
  font-family:Raleway;
  background: black;
  color:white;
}

.loginForm {
  margin-top:30vh;
  font-family:Raleway;
}

.field {
  margin-top: 20px;
}

.formLabel {
  text-align: right;
  font-size: 20px;
}

.formInput {
  width:200px !important;
}

.errorMessage {
  display:none;
  margin-top:4vh;
}

.loginButton {
  margin-top:4vh;
}

@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url('/fonts/raleway.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
