
html,body {
  width:100%;
  height:100vh
}

.ace_editor {
  width:98%;
  height:60vh;
  text-align: left;
  z-index:10;
}

.result {
  width:98%;
  height:14vh;
  margin-top:20px;
  margin-left: 1%;
  box-shadow:0px 0px 1px 0px black;
  overflow:auto;
}

.status {
  margin-left:1%;
}

.run {
  margin-right:20px !important;
  width:40px;
  height:40px;
  margin-top:5px;
  margin-right:10px;
  background:url('/images/run.png');
  background-size:40px 40px;
}

.themeChange {
  width:40px;
  height:40px;
  margin-top:5px;
  margin-right:10px;
  background:url('/images/day.png');
  background-size:40px 40px;
}

.navbar-brand {
  margin-left:10px !important;
  font-size:20px;
}

.languageSelected {
  margin-right:20px;
  height:50px;
  font-size:20px;
  line-height: 50px;
}

.language_select_menu {
  display: none;
  width:60%;
  position:absolute;
  left:20%;
  top:12vh;
  background:black;
}

#selected {
  color:red;
}

li {
  display: inline-block;
  color:white;
  padding:10px;
  font-size:18px;
}

ul {
  list-style: none;
  margin:0px;
  padding:0px;
}

.language {
  transition:color 1.2s;
}

.loading {
  position: absolute;
  display: none;
  top:0px;
  left:0px;
  width:100%;
  height:100vh;
  background:white;
  opacity:0.6;
  z-index:10;
}

.language:hover {
  cursor:pointer;
  color:yellow;
}

.themeChange:hover,.run:hover,.languageSelected:hover {
  cursor:pointer;
}

@media only screen and (max-width:780px) {
  .language_select_menu {
    left:1%;
    width:98%;
  }
}
